
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
 

  [class*="col-"]{
      float: left;
      padding: 15px;
     
      
  }
  .ozel{
      box-sizing: 10px white;
      
  }

  .row::after{
      content: "";
      clear: both;
      display: table;
  }
  img{
      width: 100%;
      height: auto;
  }
  @media screen and (max-width:768px) {
      [class*="col-"]{width: 100%;}
  }
     a.aktif,a:hover{
      background-color: blanchedalmond;
      border-radius: 17px;
      font-size: 15px;
      transition: 1s;
  }
  #font-baslik{
    font-family: 'Akaya Telivigala', cursive;
    color:white;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }
  body{
    background: url(img/arkaplan4.jpg) no-repeat center fixed;
    background-size: cover;
  }
#font-yazi{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    font-size: 22px;
}
#font-yazi2{
    font-family: 'Zilla Slab Highlight', cursive;
    color: white;
    font-size: 23px;
}
#font-altbaslik{
    font-family: 'Zilla Slab Highlight', cursive;
    color: white;
    font-size: 30px;
}
#duzen{
   margin-top: 30px;
}
#border{
     border-style: solid  ;
     border-color: wheat;
}
#yanmenu{
    padding-left: 30px;
}
p{
    text-indent: 15px;
}


video {
    width: 100%;
    height: auto;
  }
  
  #yanmenu,#ozellink{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    text-decoration: none;
  }
  #yanmenu,#ozellink:hover{
    font-family: 'Akaya Telivigala', cursive;
    color: black;
    text-decoration: none;
    font-size: 28px;
    
  }
  #video{
      border: solid 5px wheat;
      height: 400px;
  }