*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
 

  [class*="col-"]{
      float: left;
      padding: 15px;
      
     
      
  }
  .row::after{
    content: "";
    clear: both;
    display: table;
}
img{
    width: 100%;
    height: auto;
}
@media screen and (max-width:768px) {
    [class*="col-"]{width: 100%;}
}
   a.aktif,a:hover{
    
    border-radius: 17px;
    font-size: 15px;
    transition: 1s;
}
video {
    width: 100%;
    height: auto;
  }
  p{
    text-indent: 15px;
}
body{
    background-image: url("img/img_tree.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-right: 200px;
    float: right;
    
    
    
  }
  #yaziResmi {
    background-color: black;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    margin-left: 240px;
    margin-top: 20px;
    
   
  }
  #font-yazi{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
#font-yazi2{
    font-family: 'Zilla Slab Highlight', cursive;
    color: white;
    font-size: 23px;
}
#font-altbaslik{
    font-family: 'Zilla Slab Highlight', cursive;
    color: white;
    font-size: 30px;
}
#font-baslik{
    font-family: 'Akaya Telivigala', cursive;
    color:white;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }
  #icerik{
      margin-top: 40px;
      margin-left: 263px;
  }
  
  #h2duzen{
      text-align: center;
      margin-top: 40px;
      font-family: 'Chelsea Market', cursive;
  }
  #yeni-yazi-2{
    font-family: 'Bree Serif', serif;
  }
  #ozel-Link:hover{
    font-size: 24px;
    color: white;
    text-decoration: none;
  }

  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}



#alt{
    height: 100px;
   
}
#GazeteStyle {
   
    
  text-align: left;
  margin-top: 30px;
  margin-left: 310px;
 
  
}